name: golangci-lint

on:
  workflow_call:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/**'
      - '**/*.go'
      - '**/*.mod'
      - '**/*.sum'
      - '.golangci.yml'
    branches-ignore:
      - 'main'
      - 'master'
      - 'releases/**'
    tags-ignore:
      - 'v*.*.*'
  pull_request:
    paths:
      - '.github/workflows/**'
      - '**/*.go'
      - '**/*.mod'
      - '**/*.sum'
      - '.golangci.yml'
    branches:
      - 'main'
      - 'master'
      - 'releases/**'
      - 'dev/**'

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true
          cache-dependency-path: |
            go.sum
            go.mod

      - name: Install dependencies
        run: go mod download

      - name: Run linter with Makefile
        run: make go-lint