name: golangci-lint
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'main'
      - 'master'
  pull_request:
    branches:
      - 'v[0-9]+.[0-9]+.[0-9]+-dev'
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'main'
      - 'master'

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.5.0
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Run linting with Makefile
        run: make go-lint