name: snapshot release

on:
  workflow_dispatch:
  push:
    branches:
      - 'v[0-9]+.[0-9]+.[0-9]+-dev'

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    uses: ./.github/workflows/test.yaml

  lint:
    uses: ./.github/workflows/golangci-lint.yaml

  snapshot:
    needs: [test, lint]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go 1.24
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Install dependencies
        run: go mod tidy
      - name: Install GoReleaser
        run: |
          curl -sL https://github.com/goreleaser/goreleaser/releases/download/v1.22.1/goreleaser_Linux_x86_64.tar.gz | sudo tar -xzf - -C /usr/local/bin goreleaser
      - name: Run snapshot build with Makefile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          DOCKER_REGISTRY: ghcr.io
        run: make release-snapshot
